# /etc/systemd/system/fastapi.service
[Unit]
Description=FastAPI App Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/dApp-fastapi/dApp-codegen/api
Environment="PATH=/home/ubuntu/myenv/bin:$PATH"
ExecStart=/home/ubuntu/myenv/bin/uvicorn app:app --host 0.0.0.0 --port 8081
Restart=always

[Install]
WantedBy=multi-user.target