[Unit]
Description=Streamlit App Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/myenv/bin/streamlit run streamlit_app.py --server.port 8082
Restart=always

[Install]
WantedBy=multi-user.target
